*{
    margin: 0;
    box-sizing: border-box; 

}

h2 {
    color: white;
}

header {
    background-color: #004175;
    border-bottom: solid #89DEEF;
    padding: 30px;
}

.adopt {
    margin: 30px;
    text-align: left;
}

.animal {
    margin: 30px;
    text-align: left;
}

.container {
    display: flex;
    
}

.container img {
    height: 300px;
    max-width: 300px;
}